html {
    height: 100%;
}
html,body {
    font-family: 'Stylish', sans-serif;
}
ul {
    list-style-type: none;
    margin: 0 auto;
    width: 20%;
    font-size: 2rem;
}
ul li {
    padding: 10px;
}
a {
    text-decoration: none;
    color: #311e25;
}
#contentWrap h1 {
    clear: both;
    text-align: center;
    font-size: 4.5rem;
}
#contentWrap .back {
    cursor: pointer;
    float: right;
    display: block;
    padding: 10px;
    width: 60px;
    height: 60px;
}
#content {
    clear: both;
}
#content img {
    padding-top: 20px;
    margin: 0 auto;
    display: block;
}
#flipBody {
    background: linear-gradient(rgb(154, 140, 140), rgba(227, 183, 183,1));
    background-repeat: no-repeat;
}
.flipClock {
    color: #311e25;
}
.television {
    position: relative;
}
.screen {
    position: absolute;
    top: 76px;
    left: -9px;
    right: 113px;
}
.screen img {
    width: 447px;
    height: 325px;
    border-radius: 53px;
    overflow: hidden;
}    
.televisionBtn {
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
}
.televisionBtn button {
    font-size: 1.5rem;
    border-radius: 100%;
    padding: 16px;
    cursor: pointer;
    margin: 5px;
}


